.welcome{
  font-size: 40px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.575);
}

.name{
  font-weight: 700;
}

.display{
  display: flex;
  
}

.card{
  width: 18%;
  height: 11rem;
  border-radius: 17px;
  margin-right: 20px !important;

}

.card-body{
  padding: 40px;
  color: rgba(0, 0, 0, 0.575);
  
}

.card-subtitle{
  font-size: 80px !important;
}

.rejected {
  background-color: rgb(255, 81, 0);
  
}

.new-idea{
  position: relative;
  top: 60px;
  left: 20px;
  border: 1px solid #27b6ba;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #27b6ba;

}

.idea{
  position: relative;
  left: 30px;
  top: 23px;

}



.fa-plus{
  font-size: 40px;
  color: white;
}



.new{
  position: relative;
  right: 6px;
  font-size: 12px;
  font-weight: 400;
  color: white;
  

}





.recent h4{
  font-size: 40px;
  color: rgba(0, 0, 0, 0.575);

}

.cards{
  display: flex;
  width: 85rem;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  
 }




.card-img {
  width: 45%;
  height: 33rem;
  margin-right: 2.5rem !important;
}

.card-img img{
  height: 14rem;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  
}

.project-name {
  font-family: sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.575);
}

.tags{
  display: flex;
  
}

.food{
  margin-right: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.575);
  padding: 0.5rem;
  border-radius: 0.6rem;
  height: 1.6rem;
}

.food p {
  position: relative;
  bottom: 0.55rem;
  color:  rgba(0, 0, 0, 0.575);
}



.agriculture{
  margin-right: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.575);
  padding: 0.5rem;
  border-radius: 0.6rem;
  height: 1.7rem;
}

.agriculture p {
  position: relative;
  bottom: 0.6rem;
  color:  rgba(0, 0, 0, 0.575);
}


.technology{
  margin-right: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.575);
  padding: 0.5rem;
  border-radius: 0.6rem;
  height: 1.7rem;
}

.technology p {
  position: relative;
  bottom: 0.6rem;
  color:  rgba(0, 0, 0, 0.575);
}

.file{
  margin-left: 1.4rem;
  margin-right: 1rem;
  font-size: 12px;
  color:  rgba(0, 0, 0, 0.575);
}

.link{
  margin-right: 1rem;
  color:  rgba(0, 0, 0, 0.575);
}

.fa-file{
  font-size: 30px;
  position: relative;
  right: 20%;
  
}
.fa-link{
  position: relative;
  right: 20%;
  font-size: 20px;
  margin-right: 1px;
}



.accepted{
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.575);
  padding: 0.5rem;
  border-radius: 0.6rem;
  height: 1.7rem;
  width: 5.5rem;
  background-color: #27b6ba;

}

.accepted p {
  
  position: relative;
  bottom: 0.6rem;
  color:  white;
}



.last-card{
  position: relative;
  bottom: 1rem;
  left: 8%;
  width: 35rem;
  height: 40rem;
  margin-left: 0rem;
  margin-bottom: 10rem !important;
  
}



 


.card-head{
  display: flex;
  
}

.card-profile{
  border: 1px solid white;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin-right: 1rem;
  margin-bottom: 30px;
}

.card-mentor h5{
  position: relative;
  top: 7px;
  font-weight: 500;

}

.card-mentor p{
  position: relative;
  bottom: 5px;
}

.results{
  font-size: 80px;
  color: #27b6ba;
}

.comment{
  font-size: 18px;
  position: relative;
  bottom: 10px;
  font-weight: 500;
}

.messages{
  display: flex;
}

.chat{
  
  border: 3px solid #27b6ba;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-right: 10px;
  width: 30px;
  height: 25px;

}

.socials{
  display: flex;
  margin-top: 16px;
}
 
.fa-linkedin{
  font-size: 34px;
  margin-right: 13px;
  
}

.fa-twitter{
  font-size: 34px;

}






























@media screen and (max-width: 768px) {


  .welcome{
    font-size: 23px;
    padding-left: 20%;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.575);
  }
  
  .name{
    font-weight: 700;
  }
  
  .display{
    display: flex;
    flex-direction: column;
    
  }
  
  .card{
    width: 55%;
    height: 11rem;
    border-radius: 17px;
    margin: 17%;
  
  }
  
  .card-body{
    padding: 20%;
    color: rgba(0, 0, 0, 0.575);
    
  }
  
  .card-subtitle{
    font-size: 40px !important;
  }
  
  .rejected {
    background-color: rgb(255, 81, 0);
    
  }
  
  .new-idea{
    position: relative;
    top: 20%;
    left: 28%;
    border: 1px solid #27b6ba;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #27b6ba;
  
  }
  
  .idea{
    position: relative;
    left: 30px;
    top: 23px;
  
  }
  
  
  
  .fa-plus{
    font-size: 40px;
    color: white;
  }
  
  
  
  .new{
    position: relative;
    right: 6px;
    font-size: 12px;
    font-weight: 400;
    color: white;
    
  
  }







  
.recent h4{
  margin-left: 20%;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.575);

}

.cards{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50rem;
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  
 }




.card-img {
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden; /* Disable vertical scroll */
  width: 35%;
  height: 31rem;
  position: relative;
  right: 12%;
}

.card-img img{
  height: 13rem;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  
}

.project-name {
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.575);
  position: relative;
  bottom: 29px;
}

.card-text{
  font-size: 13px;
  position: relative;
  bottom: 19px;
}

.tags{
  display: flex;
  position: relative;
  bottom: 20px;
  
}

.food{
  margin-right: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.575);
  padding: 0.2rem;
  border-radius: 0.4rem;
  height: 1.2rem;
}

.food p {
  font-size: 13px;
  position: relative;
  bottom: 0.35rem;
  color:  rgba(0, 0, 0, 0.575);
}



.agriculture{
  margin-right: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.575);
  padding: 0.3rem;
  border-radius: 0.4rem;
  height: 1.2rem;
}

.agriculture p {
  font-size: 13px;
  position: relative;
  bottom: 0.5rem;
  color:  rgba(0, 0, 0, 0.575);
}


.technology{
  margin-right: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.575);
  padding: 0.3rem;
  border-radius: 0.4rem;
  height: 1.2rem;
}

.technology p {
  font-size: 13px;
  position: relative;
  bottom: 0.5rem;
  color:  rgba(0, 0, 0, 0.575);
}

.file{
  margin-left: 1rem;
  margin-right: 0.5rem;
  font-size: 7px;
  color:  rgba(0, 0, 0, 0.575);
}

.link{
  margin-right: 1rem;
  color:  rgba(0, 0, 0, 0.575);
}

.fa-file{
  font-size: 17px;
  position: relative;
  right: 70px;
  top: 30px;
  
}
.fa-link{
  position: relative;
  right: 65px;
  top: 25px;
  font-size: 13px;
  margin-right: 1px;
}



.accepted{
  position: relative;
  bottom: 19px;
  margin-top: 4px;
  border: 1px solid rgba(0, 0, 0, 0.575);
  padding: 0.3rem;
  border-radius: 0.6rem;
  height: 1.2rem;
  width: 4.5rem;
  background-color: #27b6ba;

}

.accepted p {
  font-size: 13px;
  position: relative;
  bottom: 0.5rem;
  color:  white;
}



.last-card{
  
  position: relative;
  bottom: 1rem;
  left: 3rem;
  width: 17rem;
  height: 36rem;
  margin-left: 0rem;
  margin-bottom: 10rem !important;
  
}



 


.card-head{
  display: flex;
  
}

.card-profile{
  border: 1px solid white;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-right: 1rem;
  margin-bottom: 25px;
}

.card-mentor h5{
  position: relative;
  top: 5px;
  font-weight: 500;

}

.card-mentor p{
  position: relative;
  bottom: 7px;
}

.results{
  font-size: 60px;
  color: #27b6ba;
}

.comment{
  font-size: 15px;
  position: relative;
  bottom: 10px;
  font-weight: 400;
}

.messages{
  display: flex;
}

.chat{
  
  border: 3px solid #27b6ba;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  margin-right: 10px;
  width: 30px;
  height: 25px;

}

.socials{
  display: flex;
  margin-top: 13px;
}
 
.fa-linkedin{
  font-size: 32px;
  margin-right: 13px;
  
}

.fa-twitter{
  font-size: 32px;

}








}



