.form-content{
    margin-left: 22%;
}

.form-group input[type="text"] {
   
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border: 1px solid #ECF4F4;
    background-color: #ECF4F4;
    width: 100%;
    height: 40px;
    padding: 20px;
  }
  
  .form-group input[type="text"]:focus {
    outline: none;
    border: 1px solid #27b6ba;
    color: black;
  }

  textarea {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px !important;
    border: 1px solid #ECF4F4;
    background-color: #ECF4F4 !important;
    padding: 20px;

  }

  button{
    border-radius: 23px !important;
    font-family: sans-serif !important;

  }

  .btn-primary{
      background-color: #27b6ba;
  }

  .fa-cloud-upload-alt{
      font-size: 20px !important;
  }

  .add-idea-card{
      position: relative !important;
      left: 69% !important;
      bottom: 29rem !important;
      
    
  }

  .add-Idea {
      height: 100%;
  }

  .head-idea{
    font-size: 33px;
    color: rgba(0, 0, 0, 0.575);
  }

  .head-idea span{
    font-weight: 500;

  }

  .label{
    color: rgba(0, 0, 0, 0.575);
  }





  @media screen and (max-width: 760px) {
    .form-content{
      margin-left: 40%;
  }
  
  .form-group input[type="text"] {
     
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
      border: 1px solid #ECF4F4;
      background-color: #ECF4F4;
      width: 100%;
      height: 30px;
      padding: 15px;
    }
    
    .form-group input[type="text"]:focus {
      outline: none;
      border: 1px solid #27b6ba;
      color: black;
    }
  
    textarea {
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px !important;
      border: 1px solid #ECF4F4;
      background-color: #ECF4F4 !important;
      padding: 15px;
  
    }
  
    button{
      border-radius: 23px !important;
      font-family: sans-serif !important;
     
  
    }
    .btn{
      width: 9rem !important;
    }
  
    .btn-primary{
        background-color: #27b6ba;
        width: 10rem;
    }
  
    .fa-cloud-upload-alt{
        font-size: 18px !important;
    }
  
    .add-idea-card{
        position: relative !important;
        left: 3% !important;
        bottom: 0.1rem !important;
        width: 18rem;
        margin-top: 3rem;
        
      
    }

    .card-top{
     position: relative;
     right: 2.5rem;

    }
  
    .add-Idea {
        height: 100%;
    }
  
    .head-idea{
      font-size: 25px;
      color: rgba(0, 0, 0, 0.575);
      position: relative;
      right: 4rem;
    }
  
    .head-idea span{
      font-weight: 500;
  
    }
  
    .label{
      color: rgba(0, 0, 0, 0.575);
    }
  
  

  }


  @media screen and (min-width: 577px) and (max-width: 990px) {

    .add-idea-card{
      position: relative !important;
      left: 3% !important;
      bottom: 0.1rem !important;
      margin-top: 3rem;
      
      
    
  }

  .btn{
   
    width: 12rem !important;
}

 
  }

  @media screen and (min-width: 578px) and (max-width: 758px) {
    .card-top{
      position: relative !important;
      right: 0rem !important;
      margin-left: 7px;
 
     }

    }


    @media screen and (min-width: 1000px) and (max-width: 1500px) {

      .add-idea-card{
        position: relative !important;
        left: 10% !important;
        bottom: 0.1rem !important;
        margin-top: 3rem;
        
        
      
    }

    }




